.movie-poster {
  width: 13rem;
  height: 16rem;
}

#movie-gallery-container {
  border: 2px red solid;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.movie-tile {
  border: 1px solid blue;
  margin: 1rem;
  width: 30%;
}
