.movie-poster {
  width: 13rem;
  height: 16rem;
}

#movie-gallery-container {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.movie-tile {
  border: 1px solid blue;
  margin: 1rem;
  width: 30%;
}

#seeAllBtn {
  width: 5rem;
  height: 3rem;
}

#form-container {
  border: solid 2px red;
  width: 35rem;
}

.form-hide {
  display: none;
}
